<nav id="Navbar" class="navbar navbar-inverse navbar-fixed-top navbar-expand-md">
    <a [routerLink]="['/']">
     <img src="assets/images/logo/Final_Quotient_Analytics.png" srcset="assets/images/logo/Final_Quotient_Analytics.png 2x,
     assets/images/logo/Final_Quotient_Analytics.png 3x"
      class="q-announcement-Logo img-optimize-contrast"/>
      </a>
      <div class="pull-right" >
        <ul class="list-inline">
          <li class="list-inline-item">
              <app-hamburger-selector></app-hamburger-selector> 
            </li>
            <li class="list-inline-item">
                <app-help-center></app-help-center> 
            </li>
            <li class="list-inline-item">
                <app-user-menu></app-user-menu>   
            </li>
        </ul>
      </div>
    </nav>
